.box {
  width: 80%;
  position: relative;
  margin: 10px 20px;
  .input {
    padding: 10px;
    width: 100%;
    border: 1px solid black;
    border-radius: 12px 8px 8px 12px;
    outline: none;
  }
  .img {
    position: absolute;
    right: 10px;
    top: 10%;
    transform: translateY(10%);
  }
}
